<div class="d-flex">
  <div class="m-3 card card-roulette <%= @ava.rare %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @ava.photo.key, height: 300, crop: :fill %>')"></div>

  <% owners = @ava.owner %>

  <div class="m-3">
    <h1>Cette Ava <%= @ava.rare %> a été piochée par <%= @ava.owner.count %> spéctateur.ice(s) </h1>
    <% if owners != nil %>
      <ul>
        <% owners.each do |owner| %>
          <li><%= owner %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
